
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    
    
    @Html.Partial("Scripts")


    <title>Index</title>
</head>
<body>
    <div>
        <a href="@Url.Action("listaCliente","Cliente")">Clientes</a>
    </div>
</body>
</html>
